@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Rohza';
    src: url("/icons/RozhaOne-Regular.ttf")
}

@font-face {
    font-family: 'Vollkorn';
    src: url("/icons/Vollkorn-Regular.ttf")
}

* {
    line-height: 1.75;
    letter-spacing: 0.45px;
}

body {
    font-size: 1rem;
}

h1,h2,h3,h4,h5,h6,date {
    font-family: 'Rohza';
}

p, span {
    font-family: 'Vollkorn', serif;
}

.header {
    font-family: Overpass Mono,Monaco,Andale Mono,AndaleMono,ui-monospace,SFMono-Regular,Menlo,Consolas,Liberation Mono,Courier New,monospace;
}
